In [235]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
from termcolor import colored
from sklearn.dummy import DummyClassifier 
from sklearn.metrics import accuracy_score

In [4]:
df = pd.read_hdf("adult.h5")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32561 entries, 0 to 32560
Data columns (total 15 columns):
Age               32561 non-null int8
Workclass         30725 non-null object
fnlwgt            32561 non-null int64
Education         32561 non-null object
Education-Num     32561 non-null int64
Martial Status    32561 non-null object
Occupation        30718 non-null object
Relationship      32561 non-null object
Race              32561 non-null object
Sex               32561 non-null bool
Capital Gain      32561 non-null int16
Capital Loss      32561 non-null int16
Hours per week    32561 non-null int8
Country           31978 non-null object
Target            32561 non-null object
dtypes: bool(1), int16(2), int64(2), int8(2), object(8)
memory usage: 2.9+ MB

In [6]:
df.head()

,Age,Workclass,fnlwgt,Education,Education-Num,Martial Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,True,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,True,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,True,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,True,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,False,0,0,40,Cuba,<=50K

In [8]:
df.columns.values

array(['Age', 'Workclass', 'fnlwgt', 'Education', 'Education-Num',
       'Martial Status', 'Occupation', 'Relationship', 'Race', 'Sex',
       'Capital Gain', 'Capital Loss', 'Hours per week', 'Country',
       'Target'], dtype=object)

Race              1
Education         1
Martial Status    1
Age               1
Country           1
Sex               1
Occupation        1
Relationship      1
Workclass         1
Capital Loss      1
Capital Gain      1
Education-Num     1
Target            1
fnlwgt            1
Hours per week    1
dtype: int64

In [66]:
pd.set_option('display.max_colwidth', -1)

In [18]:
df.columns

Index(['Age', 'Workclass', 'fnlwgt', 'Education', 'Education-Num',
       'Martial Status', 'Occupation', 'Relationship', 'Race', 'Sex',
       'Capital Gain', 'Capital Loss', 'Hours per week', 'Country', 'Target'],
      dtype='object')

In [20]:
df.sample(15)

,Age,Workclass,fnlwgt,Education,Education-Num,Martial Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target
17596,55,Private,226875,HS-grad,9,Married-civ-spouse,Sales,Husband,White,True,4064,0,40,United-States,<=50K
25415,36,Private,126954,HS-grad,9,Divorced,Transport-moving,Not-in-family,White,True,0,0,40,United-States,<=50K
23260,37,Private,178948,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,False,7688,0,45,United-States,>50K
25975,42,Private,297335,Assoc-acdm,12,Married-spouse-absent,Exec-managerial,Unmarried,Asian-Pac-Islander,False,0,0,31,Laos,<=50K
19635,37,Private,167415,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,True,0,0,60,United-States,>50K
19722,38,Local-gov,86643,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,True,0,0,45,United-States,>50K
3707,41,Private,113555,Some-college,10,Married-civ-spouse,Craft-repair,Husband,Amer-Indian-Eskimo,True,7298,0,50,United-States,>50K
11434,46,Private,247043,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,True,0,0,40,United-States,>50K
22191,27,Private,38606,Bachelors,13,Never-married,Sales,Not-in-family,White,True,0,1504,45,United-States,<=50K
27024,61,Private,280088,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,False,0,0,40,United-States,<=50K
8676,27,Private,199903,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,False,0,0,40,United-States,<=50K
15696,18,NaN,151463,11th,7,Never-married,NaN,Other-relative,White,True,0,0,7,United-States,<=50K
21551,41,Federal-gov,153132,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,True,0,0,38,United-States,>50K
8159,27,Local-gov,74056,Bachelors,13,Never-married,Tech-support,Not-in-family,White,True,0,0,50,United-States,<=50K
20093,26,Private,164488,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,True,0,1887,40,United-States,>50K

In [21]:
if 'fnlwgt' in df: del df['fnlwgt']

In [22]:
df.head()

,Age,Workclass,Education,Education-Num,Martial Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,True,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,True,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,True,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,True,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,False,0,0,40,Cuba,<=50K

In [23]:
df.shape

(32561, 14)

In [148]:
for column in df.columns:
    print(colored("Unique value: {0}".format(column),'blue',attrs=['bold','blink','underline']))
    print(df[column].unique())

Unique value: Age
[39 50 38 53 28 37 49 52 31 42 30 23 32 40 34 25 43 54 35 59 56 19 20 45
 22 48 21 24 57 44 41 29 18 47 46 36 79 27 67 33 76 17 55 61 70 64 71 68
 66 51 58 26 60 90 75 65 77 62 63 80 72 74 69 73 81 78 88 82 83 84 85 86
 87]
Unique value: Workclass
['State-gov' 'Self-emp-not-inc' 'Private' 'Federal-gov' 'Local-gov' nan
 'Self-emp-inc' 'Without-pay' 'Never-worked']
Unique value: Education
['Bachelors' 'HS-grad' '11th' 'Masters' '9th' 'Some-college' 'Assoc-acdm'
 'Assoc-voc' '7th-8th' 'Doctorate' 'Prof-school' '5th-6th' '10th'
 '1st-4th' 'Preschool' '12th']
Unique value: Education-Num
[13  9  7 14  5 10 12 11  4 16 15  3  6  2  1  8]
Unique value: Martial Status
['Never-married' 'Married-civ-spouse' 'Divorced' 'Married-spouse-absent'
 'Separated' 'Married-AF-spouse' 'Widowed']
Unique value: Occupation
['Adm-clerical' 'Exec-managerial' 'Handlers-cleaners' 'Prof-specialty'
 'Other-service' 'Sales' 'Craft-repair' 'Transport-moving'
 'Farming-fishing' 'Machine-op-inspct' 'Tech-support' nan
 'Protective-serv' 'Armed-Forces' 'Priv-house-serv']
Unique value: Relationship
['Not-in-family' 'Husband' 'Wife' 'Own-child' 'Unmarried' 'Other-relative']
Unique value: Race
['White' 'Black' 'Asian-Pac-Islander' 'Amer-Indian-Eskimo' 'Other']
Unique value: Sex
[ True False]
Unique value: Capital Gain
[  2174      0  14084   5178   5013   2407  14344  15024   7688 -31441
   4064   4386   7298   1409   3674   1055   3464   2050   2176    594
  20051   6849   4101   1111   8614   3411   2597  25236   4650   9386
   2463   3103  10605   2964   3325   2580   3471   4865 -31073   6514
   1471   2329   2105   2885  25124  10520   2202   2961  27828   6767
   2228   1506  13550   2635   5556   4787   3781   3137   3818   3942
    914    401   2829   2977   4934   2062   2354   5455  15020   1424
   3273  22040   4416   3908  10566    991   4931   1086   7430   6497
    114   7896   2346   3418   3432   2907   1151   2414   2290  15831
 -24226   4508   2538   3456   6418   1848   3887   5721   9562   1455
   2036   1831  11678   2936   2993   7443   6360   1797   1173   4687
   6723   2009   6097   2653   1639  18481   7978   2387   5060]
Unique value: Capital Loss
[   0 2042 1408 1902 1573 1887 1719 1762 1564 2179 1816 1980 1977 1876
 1340 2206 1741 1485 2339 2415 1380 1721 2051 2377 1669 2352 1672  653
 2392 1504 2001 1590 1651 1628 1848 1740 2002 1579 2258 1602  419 2547
 2174 2205 1726 2444 1138 2238  625  213 1539  880 1668 1092 1594 3004
 2231 1844  810 2824 2559 2057 1974  974 2149 1825 1735 1258 2129 2603
 2282  323 4356 2246 1617 1648 2489 3770 1755 3683 2267 2080 2457  155
 3900 2201 1944 2467 2163 2754 2472 1411]
Unique value: Hours per week
[40 13 16 45 50 80 30 35 60 20 52 44 15 25 38 43 55 48 58 32 70  2 22 56
 41 28 36 24 46 42 12 65  1 10 34 75 98 33 54  8  6 64 19 18 72  5  9 47
 37 21 26 14  4 59  7 99 53 39 62 57 78 90 66 11 49 84  3 17 68 27 85 31
 51 77 63 23 87 88 73 89 97 94 29 96 67 82 86 91 81 76 92 61 74 95]
Unique value: Country
['United-States' 'Cuba' 'Jamaica' 'India' nan 'Mexico' 'South'
 'Puerto-Rico' 'Honduras' 'England' 'Canada' 'Germany' 'Iran'
 'Philippines' 'Italy' 'Poland' 'Columbia' 'Cambodia' 'Thailand' 'Ecuador'
 'Laos' 'Taiwan' 'Haiti' 'Portugal' 'Dominican-Republic' 'El-Salvador'
 'France' 'Guatemala' 'China' 'Japan' 'Yugoslavia' 'Peru'
 'Outlying-US(Guam-USVI-etc)' 'Scotland' 'Trinadad&Tobago' 'Greece'
 'Nicaragua' 'Vietnam' 'Hong' 'Ireland' 'Hungary' 'Holand-Netherlands']
Unique value: Target
['<=50K' '>50K']

In [166]:
for repet in df.columns:
    print (colored("\nRecurring values: {0}\n".format(repet),'green',attrs=['bold','blink','underline']))
    print(df[repet].value_counts())

Recurring values: Age

36    898
31    888
34    886
23    877
35    876
33    875
28    867
30    861
37    858
25    841
27    835
32    828
38    827
39    816
29    813
41    808
24    798
40    794
26    785
42    780
43    770
22    765
20    753
46    737
45    734
44    724
21    720
19    712
47    708
50    602
51    595
49    577
18    550
48    543
52    478
53    464
55    419
54    415
17    395
58    366
56    366
57    358
59    355
60    312
61    300
62    258
63    230
64    208
65    178
67    151
66    150
68    120
69    108
70     89
71     72
72     67
73     64
74     51
76     46
75     45
90     43
77     29
78     23
80     22
79     22
81     20
82     12
84     10
83      6
85      3
88      3
87      1
86      1
Name: Age, dtype: int64

Recurring values: Workclass

Private             22696
Self-emp-not-inc     2541
Local-gov            2093
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: Workclass, dtype: int64

Recurring values: Education

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: Education, dtype: int64

Recurring values: Education-Num

9     10501
10     7291
13     5355
14     1723
11     1382
7      1175
12     1067
6       933
4       646
15      576
5       514
8       433
16      413
3       333
2       168
1        51
Name: Education-Num, dtype: int64

Recurring values: Martial Status

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: Martial Status, dtype: int64

Recurring values: Occupation

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: Occupation, dtype: int64

Recurring values: Relationship

Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: Relationship, dtype: int64

Recurring values: Race

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: Race, dtype: int64

Recurring values: Sex

True     21790
False    10771
Name: Sex, dtype: int64

Recurring values: Capital Gain

 0        29849
 15024      347
 7688       284
 7298       246
-31073      159
 3103        97
 5178        97
 4386        70
 5013        69
 8614        55
 3325        53
 2174        48
 10520       43
 4064        42
 4650        41
 14084       41
 20051       37
 3137        37
 594         34
 27828       34
 3908        32
 2829        31
 13550       27
 6849        27
 14344       26
 1055        25
 2885        24
 3411        24
 4787        23
 3464        23
 2176        23
 9386        22
 2597        20
 4101        20
 2407        19
 4865        17
 2202        16
 1506        15
 3942        14
 3674        14
 2580        12
 3781        12
 10605       12
 4508        12
 4416        12
 25236       11
 2354        11
 2907        11
 5455        11
 6497        11
 2463        11
 2635        11
 7430         9
 2964         9
 6418         9
 2105         9
 914          8
 3471         8
 2414         8
 1151         8
 2977         8
 4934         7
 1797         7
 1409         7
 1471         7
 3818         7
 1831         7
 1848         6
 3273         6
 2329         6
 2346         6
 114          6
 3887         6
 15831        6
 10566        6
 2290         5
 7443         5
 15020        5
 2653         5
 5556         5
-31441        5
 2050         5
 3418         5
 6767         5
 2228         5
 6514         5
 991          5
 3432         4
 25124        4
 2036         4
 1086         4
 9562         4
 5721         3
 4687         3
 7896         3
 2009         3
 6360         3
 2961         3
 2936         3
 1173         3
 1424         3
 2993         2
 11678        2
 3456         2
 6723         2
 401          2
 18481        2
 2062         2
-24226        2
 5060         1
 4931         1
 2387         1
 2538         1
 22040        1
 7978         1
 6097         1
 1639         1
 1455         1
 1111         1
Name: Capital Gain, dtype: int64

Recurring values: Capital Loss

0       31042
1902      202
1977      168
1887      159
1848       51
1485       51
2415       49
1602       47
1740       42
1590       40
1876       39
1672       34
1564       25
2258       25
1669       24
1741       24
2001       24
1980       23
1719       22
2002       21
2051       21
1408       21
1579       20
2377       20
1721       18
1504       18
1974       18
2339       17
2179       15
1628       15
1762       14
2444       12
2559       12
625        12
2824       10
2042        9
1617        9
2205        9
1651        9
2392        9
1594        8
1340        7
1380        7
1092        7
2174        7
1573        6
880         6
2246        6
2057        6
2206        6
2603        5
1668        4
1825        4
1258        4
2547        4
1726        4
213         4
2457        3
2129        3
653         3
2231        3
419         3
323         3
4356        3
2267        3
3683        2
1755        2
2352        2
1648        2
1138        2
810         2
1735        2
2238        2
2754        2
3004        2
3900        2
974         2
2149        2
1816        2
3770        2
2080        1
2489        1
2282        1
2163        1
155         1
2467        1
1844        1
1411        1
1539        1
2472        1
1944        1
2201        1
Name: Capital Loss, dtype: int64

Recurring values: Hours per week

40    15217
50     2819
45     1824
60     1475
35     1297
20     1224
30     1149
55      694
25      674
48      517
38      476
15      404
70      291
10      278
32      266
24      252
65      244
36      220
42      219
44      212
16      205
12      173
43      151
37      149
8       145
52      138
80      133
56       97
28       86
99       85
46       82
18       75
72       71
75       66
6        64
5        60
4        54
47       49
84       45
22       44
54       41
3        39
33       39
39       38
41       36
14       34
2        32
27       30
26       30
17       29
49       29
90       29
58       28
34       28
7        26
53       25
21       24
13       23
23       21
1        20
62       18
9        18
66       17
57       17
19       14
64       14
51       13
85       13
68       12
98       11
11       11
63       10
78        8
29        7
77        6
59        5
31        5
96        5
67        4
91        3
76        3
81        3
73        2
89        2
97        2
88        2
86        2
61        2
95        2
92        1
94        1
87        1
74        1
82        1
Name: Hours per week, dtype: int64

Recurring values: Country

United-States                 29170
Mexico                          643
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: Country, dtype: int64

Recurring values: Target

<=50K    24720
>50K      7841
Name: Target, dtype: int64

In [108]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32561 entries, 0 to 32560
Data columns (total 14 columns):
Age               32561 non-null int8
Workclass         30725 non-null object
Education         32561 non-null object
Education-Num     32561 non-null int64
Martial Status    32561 non-null object
Occupation        30718 non-null object
Relationship      32561 non-null object
Race              32561 non-null object
Sex               32561 non-null bool
Capital Gain      32561 non-null int16
Capital Loss      32561 non-null int16
Hours per week    32561 non-null int8
Country           31978 non-null object
Target            32561 non-null object
dtypes: bool(1), int16(2), int64(1), int8(2), object(8)
memory usage: 2.7+ MB

In [165]:
df['Education-Num'].unique()

array([13,  9,  7, 14,  5, 10, 12, 11,  4, 16, 15,  3,  6,  2,  1,  8],
      dtype=int64)

In [172]:
df['Education-Num'] = df['Education-Num'].astype('int8')

array([13,  9,  7, 14,  5, 10, 12, 11,  4, 16, 15,  3,  6,  2,  1,  8],
      dtype=int64)

array([13,  9,  7, 14,  5, 10, 12, 11,  4, 16, 15,  3,  6,  2,  1,  8],
      dtype=int64)

In [216]:
df[ df['Workclass'].isnull() ].shape

(1836, 16)

In [179]:
df['Sex_cat'] = df['Sex'].astype(np.int8)

In [205]:
df['Target_cat'] = df['Target'].map(lambda x: int(x == '<=50K') )

In [206]:
df.head(10)

,Age,Workclass,Education,Education-Num,Martial Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target,Sex_cat,Target_cat
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,True,2174,0,40,United-States,<=50K,1,1
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,True,0,0,13,United-States,<=50K,1,1
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,True,0,0,40,United-States,<=50K,1,1
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,True,0,0,40,United-States,<=50K,1,1
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,False,0,0,40,Cuba,<=50K,0,1
5,37,Private,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,False,0,0,40,United-States,<=50K,0,1
6,49,Private,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,False,0,0,16,Jamaica,<=50K,0,1
7,52,Self-emp-not-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,True,0,0,45,United-States,>50K,1,0
8,31,Private,Masters,14,Never-married,Prof-specialty,Not-in-family,White,False,14084,0,50,United-States,>50K,0,0
9,42,Private,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,True,5178,0,40,United-States,>50K,1,0

In [207]:
df.corr()

,Age,Education-Num,Sex,Capital Gain,Capital Loss,Hours per week,Sex_cat,Target_cat
Age,1.000000,0.036527,0.088832,0.064301,0.057775,0.068756,0.088832,-0.234037
Education-Num,0.036527,1.000000,0.012280,0.062300,0.079923,0.148123,0.012280,-0.335154
Sex,0.088832,0.012280,1.000000,0.028219,0.045567,0.229309,1.000000,-0.215980
Capital Gain,0.064301,0.062300,0.028219,1.000000,-0.027282,0.031964,0.028219,-0.154853
Capital Loss,0.057775,0.079923,0.045567,-0.027282,1.000000,0.054256,0.045567,-0.150526
Hours per week,0.068756,0.148123,0.229309,0.031964,0.054256,1.000000,0.229309,-0.229689
Sex_cat,0.088832,0.012280,1.000000,0.028219,0.045567,0.229309,1.000000,-0.215980
Target_cat,-0.234037,-0.335154,-0.215980,-0.154853,-0.150526,-0.229689,-0.215980,1.000000

In [217]:
df.fillna(-1).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32561 entries, 0 to 32560
Data columns (total 16 columns):
Age               32561 non-null int8
Workclass         32561 non-null object
Education         32561 non-null object
Education-Num     32561 non-null int8
Martial Status    32561 non-null object
Occupation        32561 non-null object
Relationship      32561 non-null object
Race              32561 non-null object
Sex               32561 non-null bool
Capital Gain      32561 non-null int16
Capital Loss      32561 non-null int16
Hours per week    32561 non-null int8
Country           32561 non-null object
Target            32561 non-null object
Sex_cat           32561 non-null int8
Target_cat        32561 non-null int64
dtypes: bool(1), int16(2), int64(1), int8(4), object(8)
memory usage: 4.0+ MB

,Age,Workclass,Education,Education-Num,Martial Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours per week,Country,Target,Sex_cat,Target_cat
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,True,2174,0,40,United-States,<=50K,1,1
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,True,0,0,13,United-States,<=50K,1,1
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,True,0,0,40,United-States,<=50K,1,1
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,True,0,0,40,United-States,<=50K,1,1
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,False,0,0,40,Cuba,<=50K,0,1

In [219]:
cat_feats = df.select_dtypes(include=[np.object]).columns

In [223]:
cat_feats

Index(['Workclass', 'Education', 'Martial Status', 'Occupation',
       'Relationship', 'Race', 'Country', 'Target'],
      dtype='object')

In [225]:
for feats in cat_feats:
     df["{}_cat".format(feats)] =pd.factorize(df[feats])[0]

In [226]:
df.head()

,Age,Workclass,Education,Education-Num,Martial Status,Occupation,Relationship,Race,Sex,Capital Gain,...,Target,Sex_cat,Target_cat,Workclass_cat,Education_cat,Martial Status_cat,Occupation_cat,Relationship_cat,Race_cat,Country_cat
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,True,2174,...,<=50K,1,0,0,0,0,0,0,0,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,True,0,...,<=50K,1,0,1,0,1,1,1,0,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,True,0,...,<=50K,1,0,2,1,2,2,0,0,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,True,0,...,<=50K,1,0,2,2,1,2,1,1,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,False,0,...,<=50K,0,0,2,0,1,3,2,1,1

In [237]:
X = df[['Age']].values
y= df["Target_cat"].values

model = DummyClassifier()
model.fit(X,y)
y_pred = model.predict(X)
accuracy_score(y_pred,y)

0.6313995270415528

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)