# Name prediction for polish name

In [26]:
import pandas as pd

from sklearn.dummy import DummyClassifier
from sklearn.linear_model import LogisticRegression 

from sklearn.metrics import accuracy_score

In [20]:
df = pd.read_csv("polish_names.csv")

In [21]:
df['target'] = df['gender'].map( lambda x: int(x == 'm') )

In [22]:
df['len_name'] = df['name'].map(lambda x: len(x))

In [23]:
X = df[ ['len_name'] ].values
y = df['target'].values

In [24]:
model = LogisticRegression(solver='lbfgs')
model.fit(X, y)
y_pred = model.predict(X)
accuracy_score(y, y_pred)

0.6058651026392962

In [25]:
df['gender_pred'] = y_pred
df['gender_pred'].value_counts()

1    1705
Name: gender_pred, dtype: int64

In [27]:
def train_and_predict_model(X, y, model, success_metric=accuracy_score):
    model.fit(X, y)
    y_pred = model.predict(X)
    
    print("Distribution:")
    print( pd.Series(y_pred).value_counts() )
    
    return success_metric(y, y_pred)

In [34]:
vowels = ['a', 'ą', 'e', 'ę', 'i', 'o', 'u', 'y']

def last_is_vowel(name):
    return name.lower()[-1] in vowels

df['last_is_vowel'] = df['name'].map(last_is_vowel)

X = df[['last_is_vowel'] ]
train_and_predict_model(X, y, LogisticRegression(solver='lbfgs'))

Distribution:
1    964
0    741
dtype: int64

0.9524926686217009

In [35]:
df.columns

Index(['name', 'gender', 'target', 'len_name', 'gender_pred', 'last_is_vowel',
       'lst_letter_a'],
      dtype='object')

In [36]:
df['lst_letter_a'] = df.name.map(lambda x: x[-1] == 'a')

df[ (df.gender == 'm') & df.lst_letter_a ]

,name,gender,target,len_name,gender_pred,last_is_vowel,lst_letter_a
142,Barnaba,m,1,7,1,True,True
219,Bonawentura,m,1,11,1,True,True
765,Kosma,m,1,5,1,True,True
1574,Batszeba,m,1,8,1,True,True

In [37]:
df[ (df.gender == 'f') & (~df.lst_letter_a) ]

,name,gender,target,len_name,gender_pred,last_is_vowel,lst_letter_a
156,Beatrice,f,0,8,1,True,False
157,Beatrycze,f,0,9,1,True,False
171,Berenike,f,0,8,1,True,False
257,Carmen,f,0,6,1,False,False
611,Inez,f,0,4,1,False,False
1215,Salome,f,0,6,1,True,False
1570,Abigail,f,0,7,1,False,False
1639,Ingrid,f,0,6,1,False,False
1663,Margot,f,0,6,1,False,False
1666,Miriam,f,0,6,1,False,False