In [16]:
import pandas as pd
import numpy as np
import re

In [11]:
cd Forecasting value property

C:\Users\benia\Desktop\Machine_Learning\Forecasting value property

In [14]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 588D-4BF9

 Directory of C:\Users\benia\Desktop\Machine_Learning\Forecasting value property\input

22.02.2020  13:04    <DIR>          .
22.02.2020  13:04    <DIR>          ..
13.12.2019  17:32        12˙594˙968 property_polish.h5
               1 File(s)     12˙594˙968 bytes
               2 Dir(s)  41˙297˙838˙080 bytes free

In [18]:
df = pd.read_hdf('property_polish.h5')

In [19]:
df.head()

,building,extra_benefits,parking,apartament,offer,surroundings,extra_description,benefit_investment,broker_license,stats,...,location,finishing,bathroom,apartament_fix,price,y_pred_price_mean,price_m2,y_pred_price_m2_mean_area,price_log,price_log_m2
0,"{'Typ budynku': 'apartamentowiec', 'Liczba pię...",NaN,NaN,"{'Liczba pokoi': 'parter', 'Kuchnia': 'do wyko...",268 300 zł (7 884 zł/m,{'Zdrowie': [' ...,[Wyjątkowa inwestycja zlokalizowana na warszaw...,NaN,Nr licencji pośrednika: 7820,"[[Źródło: , Biuro nieruchomości], [Rynek: , wt...",...,-1,-1,-1,"{'Liczba pokoi': '1', 'Kuchnia': 'oddzielna', ...",268300.0,688142.59123,7884.219806,2.892566e+05,12.499861,0.367319
0,"{'Typ budynku': 'dom wielorodzinny', 'Liczba p...",NaN,NaN,"{'Liczba pokoi': '1', 'Stan łazienki': 'oddzie...",1 188 000 zł (8 609 zł/m,{'Zdrowie': [' ...,"[Bardzo ładne, ciepłe mieszkanie w świeżo zbud...",NaN,Nr licencji pośrednika: 18802,"[[Źródło: , Biuro nieruchomości], [Rynek: , wt...",...,"północno-zachodnie, południowo-wschodnie",-1,-1,"{'Liczba pokoi': '4', 'Stan łazienki': 'dobry'...",1188000.0,688142.59123,8608.695652,1.173007e+06,13.987782,0.101361
0,"{'Typ budynku': 'apartamentowiec', 'Liczba pię...","telefon, internet, TV kablowa, winda, ogrzewan...",garaż,"{'Liczba pokoi': '4', 'Forma własności': 'włas...",2 990 000 zł (14 238 zł/m,{},"[| , \nPrzestronny, bardzo słoneczny, cichy, j...",NaN,,"[[Źródło: , Biuro nieruchomości], [Rynek: , wt...",...,-1,-1,-1,"{'Liczba pokoi': '6', 'Forma własności': 'włas...",2990000.0,688142.59123,14238.095238,1.785010e+06,14.910784,0.071004
0,"{'Typ budynku': 'apartamentowiec', 'Liczba pię...",winda,"garaż, parking podziemny","{'Liczba pokoi': '6', 'Kuchnia': 'do wykończen...",979 862 zł (16 900 zł/m,{'Zdrowie': [' ...,[Ścisłe centrum stolicy osłonięte od zgiełku m...,NaN,,"[[Źródło: , Biuro nieruchomości], [Rynek: , wt...",...,-1,-1,-1,"{'Liczba pokoi': '2', 'Kuchnia': 'w aneksie', ...",979862.0,688142.59123,16900.000000,4.928328e+05,13.795167,0.237930
0,"{'Liczba pięter': '4', 'Rok budowy': '1936', '...",NaN,NaN,"{'Forma własności': 'własność', 'Powierzchnia'...",375 000 zł (13 889 zł/m,{'Zdrowie': [' ...,"[KAMIENICA PO REMONCIE W 2014 ROKU, \nMIESZKAN...",NaN,Nr licencji pośrednika: 6315,"[[Źródło: , Biuro nieruchomości], [Rynek: , wt...",...,-1,-1,-1,"{'Forma własności': 'własność', 'Powierzchnia'...",375000.0,688142.59123,13888.888889,2.295013e+05,12.834681,0.475359

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 896 entries, 0 to 0
Data columns (total 38 columns):
building                     885 non-null object
extra_benefits               493 non-null object
parking                      356 non-null object
apartament                   896 non-null object
offer                        896 non-null object
surroundings                 896 non-null object
extra_description            876 non-null object
benefit_investment           20 non-null object
broker_license               896 non-null object
stats                        896 non-null object
broker_id                    896 non-null int16
broker_company_id            896 non-null int16
bulding_floors               896 non-null int64
name                         896 non-null object
year_building                896 non-null object
type_building                896 non-null object
ownership                    896 non-null object
loudness                     896 non-null object
kitchen                      896 non-null object
num_rooms                    896 non-null int64
num_levels                   896 non-null int64
windows                      896 non-null object
num_floor                    896 non-null int64
area                         896 non-null float64
extra_area                   896 non-null int64
installations                896 non-null object
condition_general            896 non-null object
condition_bathroom           896 non-null object
location                     896 non-null object
finishing                    896 non-null object
bathroom                     896 non-null object
apartament_fix               896 non-null object
price                        896 non-null float64
y_pred_price_mean            896 non-null float64
price_m2                     896 non-null float64
y_pred_price_m2_mean_area    896 non-null float64
price_log                    896 non-null float64
price_log_m2                 896 non-null float64
dtypes: float64(7), int16(2), int64(5), object(24)
memory usage: 262.5+ KB

In [21]:
df[ df['building'].isnull() ].shape

(11, 38)

In [23]:
df[ df['building'].isnull()]

,building,extra_benefits,parking,apartament,offer,surroundings,extra_description,benefit_investment,broker_license,stats,...,location,finishing,bathroom,apartament_fix,price,y_pred_price_mean,price_m2,y_pred_price_m2_mean_area,price_log,price_log_m2
0,NaN,NaN,NaN,"{'Powierzchnia': '120 m', 'Liczba pokoi': '2'}",990 000 zł (8 250 zł/m,{'Zdrowie': [' ...,[Sprzedam atrakcyjny apartament zlokalizowany ...,NaN,,"[[Źródło: , Biuro nieruchomości], [Rynek: , wt...",...,-1,-1,-1,{'Powierzchnia': '120 m'},990000.0,688142.59123,8250.000000,1.020006e+06,13.805460,0.115046
0,NaN,NaN,NaN,"{'Powierzchnia': '90 m', 'Liczba pokoi': '2'}",1 100 000 zł (12 222 zł/m,{'Zdrowie': [' ...,[Gorąco polecam do kupienia piękne mieszkanie ...,NaN,,"[[Źródło: , Biuro nieruchomości], [Rynek: , wt...",...,-1,-1,-1,{'Powierzchnia': '90 m'},1100000.0,688142.59123,12222.222222,7.650043e+05,13.910821,0.154565
0,NaN,NaN,NaN,"{'Powierzchnia': '59 m', 'Liczba pokoi': '2'}",635 000 zł (10 763 zł/m,{},"[Do sprzedania słoneczne, przestronne dwupokoj...",NaN,,"[[Źródło: , Biuro nieruchomości], [Rynek: , wt...",...,-1,-1,-1,{'Powierzchnia': '59 m'},635000.0,688142.59123,10762.711864,5.015028e+05,13.361380,0.226464
0,NaN,NaN,NaN,"{'Powierzchnia': '61 m', 'Liczba pokoi': '2'}",830 000 zł (13 607 zł/m,{'Zdrowie': [' ...,"[Duże mieszkanie spółdzielcze własnościowe, z ...",NaN,,"[[Źródło: , Biuro nieruchomości], [Rynek: , wt...",...,-1,-1,-1,{'Powierzchnia': '61 m'},830000.0,688142.59123,13606.557377,5.185029e+05,13.629181,0.223429
0,NaN,NaN,NaN,{'Powierzchnia': '139 m'},1 200 000 zł (8 633 zł/m,{'Zdrowie': [' ...,"[Sprzedam atrakcyjne mieszkanie , klimatyzacja...",NaN,,"[[Źródło: , Biuro nieruchomości], [Rynek: , wt...",...,-1,-1,-1,{'Powierzchnia': '139 m'},1200000.0,688142.59123,8633.093525,1.181507e+06,13.997832,0.100704
0,NaN,NaN,NaN,"{'Powierzchnia': '360 m', 'Liczba pokoi': '2'}",3 250 000 zł (9 028 zł/m,{'Zdrowie': [' ...,"[| , \n Ładny, skrajny segment położony w głęb...",NaN,Nr licencji pośrednika: 10681,"[[Źródło: , Biuro nieruchomości], [Rynek: , wt...",...,-1,-1,-1,{'Powierzchnia': '360 m'},3250000.0,688142.59123,9027.777778,3.060017e+06,14.994166,0.041650
0,NaN,NaN,NaN,"{'Forma własności': 'własność', 'Powierzchnia'...",1 250 000 zł (8 929 zł/m,{'Zdrowie': [' ...,"[www.crystalhouse.pl , \n, \nAPARTAMENT NA OSI...",NaN,Nr licencji pośrednika: 9166,"[[Źródło: , Biuro nieruchomości], [Rynek: , wt...",...,-1,-1,-1,"{'Forma własności': 'własność', 'Powierzchnia'...",1250000.0,688142.59123,8928.571429,1.190007e+06,14.038654,0.100276
0,NaN,NaN,NaN,"{'Powierzchnia': '51 m', 'Liczba pokoi': '3', ...",466 000 zł (9 137 zł/m,{},"[| , \nMieszkanie o powierzchni 51 m 2 położon...",NaN,Nr licencji pośrednika: 3154,"[[Źródło: , Biuro nieruchomości], [Rynek: , wt...",...,-1,-1,-1,"{'Powierzchnia': '51 m', 'Piętro': '3'}",466000.0,688142.59123,9137.254902,4.335024e+05,13.051941,0.255920
0,NaN,NaN,NaN,"{'Powierzchnia': '96 m', 'Liczba pokoi': '1', ...",790 000 zł (8 229 zł/m,{},[Do sprzedania apartament w cichym miejscu Mok...,NaN,,"[[Źródło: , Biuro nieruchomości], [Rynek: , wt...",...,-1,-1,-1,"{'Powierzchnia': '96 m', 'Piętro': '1'}",790000.0,688142.59123,8229.166667,8.160046e+05,13.579788,0.141456
0,NaN,NaN,NaN,{'Powierzchnia': '71 m'},1 000 000 zł (14 085 zł/m,{'Zdrowie': [' ...,[Prestiżowy i elegancki apartament na zamknięt...,NaN,Nr licencji pośrednika: 17238,"[[Źródło: , Biuro nieruchomości], [Rynek: , wt...",...,-1,-1,-1,{'Powierzchnia': '71 m'},1000000.0,688142.59123,14084.507042,6.035034e+05,13.815511,0.194585
0,NaN,NaN,NaN,{'Forma własności': 'spółdzielcze własnościowe...,510 000 zł (6 800 zł/m,{'Zdrowie': [' ...,[Do sprzedania 3 pokojowe 75m2 mieszkanie na w...,NaN,,"[[Źródło: , Biuro nieruchomości], [Rynek: , wt...",...,-1,-1,-1,{'Forma własności': 'spółdzielcze własnościowe...,510000.0,688142.59123,6800.000000,6.375036e+05,13.142166,0.175229

In [26]:
def get_num_floors(x):
    if str(x) == 'nan': return ''
    if 'Liczba pięter' not in x: return ''
    
    return x['Liczba pięter']

df['building'].map(get_num_floors)

0    4
0    2
0    4
0    8
0    4
    ..
0    7
0    3
0    4
0    8
0    3
Name: building, Length: 896, dtype: object

In [32]:
df[ df['building'].isnull() ].shape

(11, 39)

In [28]:
df['num_floors'] = df['building'].map(get_num_floors)
df['num_floors'].nunique()

23

In [43]:
df['num_floors'].unique()

array([  4,   2,   8,  10,   3,  16,   7,   6, -10,   5,  12,  11,   9,
        14,  20,  15,   1,  13,  22,  17,  25,  30,  19], dtype=int64)

In [34]:
df[ df['num_floors'] == 'powyżej 30'].shape

(3, 39)

In [41]:
def get_num_floors(x):
    if str(x) == 'nan': return ''
    if 'Liczba pięter' not in x: return ''
    if 'powyżej 30' == x['Liczba pięter']: return 30
    
    return int(x['Liczba pięter'])

df['building'].map(get_num_floors).unique()

array([4, 2, 8, 10, 3, 16, 7, 6, '', 5, 12, 11, 9, 14, 20, 15, 1, 13, 22,
       17, 25, 30, 19], dtype=object)

In [42]:
def get_num_floors(x):
    if str(x) == 'nan': return -10
    if 'Liczba pięter' not in x: return -10
    if 'powyżej 30' == x['Liczba pięter']: return 30
    
    return x['Liczba pięter']

df['num_floors']  = df['building'].map(get_num_floors).astype(np.int)
df['num_floors'].value_counts()

 4     190
 3     165
 6      85
 5      82
 2      75
 10     62
 7      56
 8      55
-10     32
 9      17
 12     15
 11     11
 13     10
 1       9
 16      8
 14      6
 15      5
 17      5
 30      3
 20      2
 19      1
 22      1
 25      1
Name: num_floors, dtype: int64

In [37]:
df['extra_benefits']

0                                                  NaN
0                                                  NaN
0    telefon, internet, TV kablowa, winda, ogrzewan...
0                                                winda
0                                                  NaN
                           ...
0                                                  NaN
0                                                  NaN
0                                                  NaN
0                                              telefon
0                                                  NaN
Name: extra_benefits, Length: 896, dtype: object

In [38]:
df['extra_benefits'].str.split(',')

0                                                  NaN
0                                                  NaN
0    [telefon,  internet,  TV kablowa,  winda,  ogr...
0                                              [winda]
0                                                  NaN
                           ...
0                                                  NaN
0                                                  NaN
0                                                  NaN
0                                            [telefon]
0                                                  NaN
Name: extra_benefits, Length: 896, dtype: object

In [40]:
_ = df['extra_benefits'].str.split(',').map(lambda x: x)

In [44]:
def get_num_years(x):
    if str(x) == 'nan': return -10
    if 'Rok budowy' not in x: return -10
    
    return x['Rok budowy']

df['year_building']  = df['building'].map(get_num_years).astype(np.int)
df['year_building'].value_counts()

-10      139
 2008     40
 2000     38
 2006     32
 2016     28
        ...
 1971      1
 1973      1
 1949      1
 1951      1
 1928      1
Name: year_building, Length: 98, dtype: int64

In [45]:
df['year_building'].unique()

array([2018, 2012, 1995, 1936, 2016, 1997, 1935, 1965,  -10, 1998, 1930,
       2001, 1992, 1999, 2004, 1960, 1964, 1954, 1959, 2009, 1985, 1981,
       1994, 1914, 1980, 1957, 1967, 2006, 1990, 2008, 2005, 2000, 1962,
       2014, 1983, 2007, 2010, 1955, 2002, 1956, 1926, 1938, 2017, 1993,
       1908, 1977, 1880, 1982, 1996, 1987, 2019, 2013, 1951, 1968, 2015,
       1972, 2011, 1932, 1925, 1912, 1950, 1989, 2003, 1976, 1986, 1952,
       1913, 1963, 1948, 1974, 1988, 1958, 1939, 1991, 1910, 1900, 1970,
       1975, 1949, 1920, 1969, 1916, 1953, 1971, 1937, 1973, 1984, 1978,
       1830, 1929, 1947, 1966, 1897, 1928, 1933, 1904, 1915, 1979],
      dtype=int64)

In [46]:
def get_num_type(x):
    if str(x) == 'nan': return -10
    if 'Typ budynku' not in x: return -10
    
    return x['Typ budynku']

df['type_building']  = df['building'].map(get_num_type)
df['type_building'].value_counts()

blok                 396
apartamentowiec      182
-10                  157
kamienica            114
wieżowiec             26
dom wielorodzinny     20
inny                   1
Name: type_building, dtype: int64

In [47]:
df['type_building'].unique()

array(['apartamentowiec', 'dom wielorodzinny', -10, 'blok', 'kamienica',
       'wieżowiec', 'inny'], dtype=object)

In [48]:
def get_num_material(x):
    if str(x) == 'nan': return -10
    if 'Materiał' not in x: return -10
    
    return x['Materiał']

df['material_building']  = df['building'].map(get_num_material)
df['material_building'].value_counts()

cegła       396
-10         310
mieszany     76
rama H       57
płyta        46
pustak        5
beton         4
silikat       2
Name: material_building, dtype: int64

In [49]:
df['type_building'].unique()

array(['apartamentowiec', 'dom wielorodzinny', -10, 'blok', 'kamienica',
       'wieżowiec', 'inny'], dtype=object)