In [7]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
!pip install sklearn

Collecting sklearn
  Using cached https://files.pythonhosted.org/packages/1e/7a/dbb3be0ce9bd5c8b7e3d87328e79063f8b263b2b1bfa4774cb1147bfcd3f/sklearn-0.0.tar.gz
Requirement already satisfied: scikit-learn in c:\users\benia\anaconda3\lib\site-packages (from sklearn) (0.21.3)
Requirement already satisfied: numpy>=1.11.0 in c:\users\benia\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.16.5)
Requirement already satisfied: scipy>=0.17.0 in c:\users\benia\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.3.1)
Requirement already satisfied: joblib>=0.11 in c:\users\benia\anaconda3\lib\site-packages (from scikit-learn->sklearn) (0.13.2)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1321 sha256=0d0f1a4d110258f6269786f3e7cf137fe6dd91b0513a954cbebf888739b1af8d
  Stored in directory: C:\Users\benia\AppData\Local\pip\Cache\wheels\76\03\bb\589d421d27431bcd2c6da284d5f2286c8e3b2ea3cf1594c074
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0

In [11]:
df = pd.read_csv("titanic.csv")

In [12]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [30]:
feats = ["Pclass","Fare","Sex_cat"]
X = df[feats].values
y = df["Survived"].values

X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.3)
X_train.shape , X_test.shape

((623, 3), (268, 3))

In [31]:
model=DecisionTreeClassifier(max_depth=20)
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

accuracy_score(y_test,y_pred)

0.832089552238806

In [32]:
model=RandomForestClassifier(max_depth=20,n_estimators=50)
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

accuracy_score(y_test,y_pred)

0.8097014925373134

In [20]:
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [21]:
df['Sex_cat']=df['Sex'].factorize()[0]